extends layout

block content
    div#tally
        span#right
        span#wrong

    form#question
        div#name
        h3 description
        div#desc
        h3 raw
        div#textRaw
        h3 hints
        div#hints
        h3 name
        input(name="name")
        a(id="show", href="#") show answer
        button(type="submit") next