<div id="content">
    <div id="messageContainer">
        <div id="message"></div>
    </div>
    <div id="left">
        <button id="clear">clear history</button>
        <ul id="modules"></ul>
    </div>
    <div id="right">
        <div id="prereqs"></div>
        <div>
            <button id="toggle">toggle docs</button>
        </div>
        <iframe></iframe>
        <form>
            <div id="questions"></div>
            <input type="submit" value="submit" />
        </form>
    </div>
</div>